#circle{

    width: 400px;
    height: 400px;
    position: absoltue;
    background-color: rgb(200, 30, 25);
    border-radius: 200px;
    top: 50px;
    left: 50px;
    opacity: 0.7;
    text-align: center;
}

#circle-2{

    width: 400px;
    height: 400px;
    position: absoltue;
    background-color: rgba(34, 46, 87, 0.5);
    border-radius: 200px;
    top: 250px;
    left: 150px;
    text-align: center;

    }

    #circle-3{

        width: 400px;
        height: 400px;
        position: absoltue;
        background-color: rgba(54, 172, 19, 0.3);
        border-radius: 200px;
        top: 50px;
        left: 250px;
        text-align: center;

        }